* {
  margin: 0;
  font-family: "Work Sans";
}
/* header */
.header {
  background-image: url("./images/banner/banner1.png");
  width: 100%;
  height: 100vh;
  display: flex;
  background-size: cover;
  justify-content: right;
  text-align: right;
  align-items: center;
  margin-bottom: 131px;
}
.banner {
 margin-right: 200px;
}
.banner-title {
  width: 500px;
  height: 228px;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-des {
  width: 494px;
  height: 78px;
  font-size: 16px;
  font-weight: 400;
}
.contact {
  margin-top: 32px;
  background: #f15b22;
  border-radius: 5px;
  color: white;
  border-style: none;
  font-weight: 600;
  font-size: 20px;
  padding: 21px 25px;
}
/* past */
.past {
  display: flex;
  justify-content: center;
  align-items: center;
}

.failures {
  margin-left: 87px;
  margin-top: 145px;
}
.failures-title {
  width: 288px;
  height: 94px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 13px;
}
.failures-description {
  width: 416px;
  height: 104px;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
.advice span {
  color: #16d887;
  margin-right: 5px;
}
.advice p {
  font-size: 16px;
  font-weight: 400;
  color: #444343;
  margin-bottom: 8px;
}
/* future plan */
.plan {
  text-align: center;
  margin-bottom: 135px;
}
.plan-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-top: 130px;
  margin-bottom: 52px;
}
.plan-des {
  display: flex;
  gap: 86px;
  justify-content: center;
}
.plan-des h4 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #151414;
  margin-top: 24px;
}
.plan-des p {
  font-weight: 500;
  font-size: 25px;

  text-align: center;
  color: #737272;
}
/* Guidance */
.Guidance {
  display: flex;
  justify-content: left;
  background-image: url("./images/conversation-g8592f6d2e_1280.jpg");
  width: 1140px;
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 265px;
  border-radius: 8px;
}
.Guidance-details {
  margin-top: 80px;
  margin-left: 100px;
}
.Guidance-details h2 {
  font-weight: 700;
  font-size: 30px;
  color: gray;
}
/* Gradient */
.gradient {
  background-image: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("./images/watch.png");
  width: 1140px;
  height: 300px;
  margin-left: 265px;
  margin-top: 130px;
  border-radius: 8px;
}
.gradient-content {
  padding-top: 55px;
  margin-left: 64px;
}
.gradient h3 {
  width: 459px;
  height: 94px;
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin-bottom: 24px;
}
.call {
  background: #ffffff;
  border-style: none;
  border-radius: 5px;
}
.call-text {
  padding: 20px 36px;
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
}
/* footer */
.footer {
  display: flex;
  margin-top: 130px;
  background: #151414;
  width: 100%;
  height: 50vh;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.footer-title {
  margin-bottom: 32px;
}
.footer-title h3 {
  font-weight: 700;
  font-size: 45px;
}
.p1 {
  margin-top: 13px;
  width: 485px;
  height: 78px;
}
.footer-title p {
  font-weight: 400;
  font-size: 16px;
}
.subscribe {
  flex-direction: column;
  margin-bottom: 60px;
}
.subscribe h3 {
  font-weight: 600;
  font-size: 25px;
}
.email {
  padding: 21px 158px 22px 21px;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #151414;
  margin-top: 31px;
}
.subscribe-button {
  padding: 19px 20px;
  background: #005fac;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-top: 16px;
}
