* {
  margin: 0;
  font-family: "Work Sans";
}
.header {
  background-image: url("./images/banner/banner1.png");
  margin-bottom: 131px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro {
  margin-left: 1019px;
}
.title {
  margin-top: 216px;
  font-size: 65px;
  font-weight: 700;
  width: 500px;
  height: 228px;
  margin-bottom: 24px;
}
.des {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  width: 494px;
  height: 78px;
  font-weight: 400;
}
.contact {
  margin-top: 32px;
  background: #f15b22;
  border-radius: 5px;
  color: white;
  border-style: none;
  font-weight: 600;
  font-size: 20px;
  padding: 21px 25px;
  margin-left: 305px;
  margin-bottom: 116px;
}
.past {
  display: flex;
  margin-left: 170px;
}
.girl {
  
}
.secondintro {
  margin-top: 290px;
  margin-left: 87px;
 
}
.title1 {
  width: 288px;
  height: 94px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 13px;
}
.description1 {
  width: 416px;
  height: 104px;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
.advice span {
  color: #16d887;
  margin-right: 5px;
}
.advice p {
  font-size: 16px;
  font-weight: 400;
  color: #444343;
  margin-bottom: 8px;
}
.plan {
  text-align: center;
  margin-bottom: 135px;
}
.plan-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 52px;
  margin-top: 130px;
}
.plan-des {
  display: flex;
  gap: 86px;
  justify-content: center;
}
.plan-des h4 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #151414;
  margin-top: 24px;
}
.plan-des p {
  font-weight: 500;
  font-size: 25px;

  text-align: center;
  color: #737272;
}

.background{
  
  background-image:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url("./images/watch.png");
  width: 1140px;
height: 300px;
margin-left: 160px;

border-radius: 8px;
align-items:;
}
.background-content{
  padding-top: 55px;
  margin-left: 64px;
}
.background h3{
  width: 459px;
height: 94px;
font-weight: 700;
font-size: 40px;
color: white;

margin-bottom: 24px;


}
.background .call{
  width: 160px;
height: 64px;
background: #FFFFFF;
border-style: none;
border-radius: 5px;

}
.background .call-text
{
  padding: 20px 36px;
  width: 88px;
height: 23px;
font-weight: 600;
font-size: 20px;
text-align: center;

color: #005FAC;
}